.HeroPesoCorporal{
    background-image: url(../../../public/img/pesocorporal.jpg);
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transition: all 0.25s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.titulo{
    font-size: 50px;
    color: var(--blanco);
   text-align: center;
   
}
