
.heroContain{
    background-color: var(--bg-color);
    transition: all 0.25s;
    height: 100%;
    padding: 50px 0px;
   
}
#heroContain-id{
  overflow: visible
}

.title-img{
  display: flex;
  text-align: left;
  gap: 1rem;
  padding: 0px 13%;
  width: 100%;
  justify-content: space-between;
  align-items: center;

}

.title-img a{
  color: var(--blanco);
  font-size: 14px;
  text-decoration: none;
}
.img-title{
  display: flex;
  text-align: left;
  gap: 10px;
  align-items: center;
}


.title-img img{
  width: 24px;
  object-fit: cover;
}
.title-img h2{
  color: var(--blanco);
  font-size: 17px;
}
.swiper_container a{
  text-decoration: none;
  
}

.categoria-card{
  margin-top: -5rem;
  text-decoration: none;
  color: var(--blanco);
  background-image: linear-gradient(to right,  var(--rojo2) 0%,  var(--rojo) 100%), linear-gradient(to right,  var(--rojo2) 0%,  var(--rojo) 100%);
  padding: 10px 20px;
  position: absolute;
  width: 70%;
  border-radius: 0px 7px 7px 0px;
  -webkit-border-radius: 0px 7px 7px 0px;
  -moz-border-radius: 0px 7px 7px 0px;
  -ms-border-radius: 0px 7px 7px 0px;
  -o-border-radius: 0px 7px 7px 0px;
}
  .swiper_container {
    height: 70vh;
    width: 80%;
    transition: all 0.25s;
  }
  .swiper_container img{
     width: 17rem;
     height: 50vh;
     object-fit: cover;
     border-radius: 20px;
     transition: all 0.25s;
     -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
     -ms-border-radius: 20px;
     -o-border-radius: 20px;
}
  .swiper-slide {
    width: 19rem !important;
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
    align-content: center!important;
    transition: all 0.25s;
  }



  @media (max-width: 900px) {

    .title-img{
      padding: 0px 7%;
    }

    .container {
      max-width: 100%;
      padding: 4rem 1rem;
      margin: 0 auto;
    }
    
      .swiper_container {
        height: 50vh;
        width: 100%;
      }
      .swiper-slide {
        width: 12rem !important;
        display: flex!important;
        align-items: center!important;
        justify-content: center!important;
        align-content: center!important;
      }
      .swiper_container img{
        width: 10rem;
        height: 16rem;
        object-fit: cover;
        border-radius: 20px;
   }
.categoria-card{
  font-size: 13px;
}
    
  }
 