.container{
    display: flex;
    gap: 20px;
    padding: 20px 10%;
    height: 90vh;
}

.ejercicio-seleccionado{
    background:linear-gradient(30deg, var(--rojo), var(--rojo4));
    border-radius: 10px;
    overflow: hidden;
    width: 40rem;
    height: 85vh;
}

.selected img{
   width: 100%;
   height: 300px;
   object-fit:contain;
   border-radius: 20px;
  
}

.selected li img{
    width: 20px;
    height: 20px;
}
.selected li {
  background-color: var(--bgv-color);
  display: flex;
    font-size: 13px;
}
.selected{
    padding: 10px;
}

.ejercicios-lista{
    overflow-y: scroll;
    height: 86vh;
    padding: 10px;
}
.ejercicio-seleccionado{
    overflow-y: scroll;
    padding: 10px;
}

.series-rep{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.series-rep input {
    width: 50px;
    border: none;
    background-color: #ffffffe0;
    border-radius: 9px;
    color: black;
    padding: 3px 10px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
}

.series-rep-text{
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
    color: var(--blanco);
}

.remover {
    width: 100%;
    background-color: var(--rojo2);
    border: none;
    color: var(--blanco);
    padding: 7px;
    border-radius: 7px;
    cursor: pointer;
}
.delete{
    background-color: transparent;
    border: none;
    color: var(--blanco);
  
    margin-left: 11rem;
    cursor: pointer;
}
.cerrar-ej{
    background-color: transparent;
    border: none;
    color: var(--blanco);
    margin-left: 98%;
    cursor: pointer;
}
.empezar{
    border: none;
    color: var(--blanco);
    cursor: pointer;
    background-color: var(--rojo);
    padding: 7px;
    width: 100px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
.img img{
    height: 100%;
}
.img-fondos{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sinselected{
    width: 100%;
    height: 100%;
}
@media (max-width: 1024px) {
    .container{
        flex-direction: column;
        flex-direction: column-reverse;
        padding: 20px 1%;
    }
    .ejercicio-seleccionado{
        width: 100%;
    }
}







.ejercicio-seleccionado::-webkit-scrollbar{
    width: 4px!important;
    height: 7px!important;
    cursor: pointer!important;

  }
  
.ejercicio-seleccionado::-webkit-scrollbar-thumb{
     width: 10px!important;
     border-radius:20px !important;
     cursor: pointer!important;
     background: linear-gradient(0deg,var( --rojo) 0%, var( --rojo) 50%)!important;
    
  }
  .ejercicios-lista::-webkit-scrollbar{
    width: 4px!important;
    height: 7px!important;
    cursor: pointer!important;
    
  }
  
.ejercicios-lista::-webkit-scrollbar-thumb{
    background: linear-gradient(0deg,var( --rojo) 0%, var( --rojo) 50%)!important;
     width: 10px!important;
     border-radius:20px !important;
     cursor: pointer!important;
  }

  