*{
  padding: 0 ;
  margin: 0;
  box-sizing: border-box;
   transition: all .40s ease!important;
   
}
:root{
  --text-color: #000;
  --bg-color: #111111;
  --bgv-color: #ffffff0d;
  --darkIcon-color: #000;
  --transparent:#0000000e;
  --gris:#ffffff25;
  --rojo:#AC1929;
  --rojo2:#FF1616;
  --rojo3:#b30cd8;
  --rojo4:#D71920;
  --blanco: #fff;
  --bg-li:  aliceblue;
}

body{    background-color: var(--bg-color);}

.main-content {
  width: 100%;
 
  display: flex;
  justify-content: center;
  align-items: center;
}

h2,h3,h4,h5{
  color: var(--text-color);
}


 
.mancuerna, .titulo-detail, .img-descripcion, .pasos, .consejos,.categoria-filtro,.inputEjercicios , .modal_content, .comentario, .favoritos-contain , .añadir, .img-form , .rutinas-btns, .ejercicio-seleccionado , .selected{
  opacity: 0;
  animation: slideFromLeft 1s ease-in-out forwards;
  -webkit-animation: slideFromLeft 1s ease-in-out forwards;
}
.text-hero1, .InputSearch, .scroll-contain{
  opacity: 0;
  animation: slideFromLeft 1s ease-in-out forwards;
  -webkit-animation: slideFromLeft 1s ease-in-out forwards;
}

.swiper_container, .card, #swiper_container {
  opacity: 0;
  animation: slideFromLeft 1s ease-in-out forwards;
  -webkit-animation: slideFromLeft 1s ease-in-out forwards;
}
.titulo,  .submodalCont{ opacity: 0; animation: slideFromCenter 0.55s ease-in-out forwards; -webkit-animation: slideFromCenter 0.55s ease-in-out forwards;
}


@keyframes slideFromLeft {
  from {
      opacity: 0;
      transform: translateX(-20%);
      -webkit-transform: translateX(-20%);
      -moz-transform: translateX(-20%);
      -ms-transform: translateX(-20%);
      -o-transform: translateX(-20%);
}
  to {
      opacity: 1;
      transform: translateX(0);
  }
}

@keyframes slideFromRight {
  from {
      opacity: 0;
     
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}

@keyframes slideFromCenter {
from {
    opacity: 0;
   
}
to {
    opacity: 10;
    transform: translateY(-20%);
    -webkit-transform: translateY(-20%);
    -moz-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    -o-transform: translateY(-20%);
}
}



